@using Session.Context.Entity;
@model LoggingViewModel
@{
    ViewData["Title"] = "Loggs";
}


<h1>Loggs von Gestern</h1>
<h2>@Model.Username</h2>

<table>
    <tr>
        <th>Meldungen</th>
    </tr>

    @foreach (var log in Model.Loggs)
    {
        <tr>
            <td style="text-overflow: clip;">@log</td>
        </tr>
    }
</table>
